@model LMS.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
@Html.Partial("_student")

<div>
    <a asp-action="Index">Back to List</a>
</div>

